/* ====== F O N T S ====== */
/* Importar fuentes aquí si es necesario */

/* ====== F O N T S (end) ====== */

@font-face {
    font-family: 'Inter-Thin';
    font-weight: 100;
    src: url('../../_fonts/Inter-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Inter-ExtraLight';
    font-weight: 200;
    src: url('../../_fonts/Inter-ExtraLight.otf') format('opentype');
}

@font-face {
    font-family: 'Inter-Light';
    font-weight: 300;
    src: url('../../_fonts/Inter-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Inter-Regular';
    font-weight: 400;
    src: url('../../_fonts/Inter-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Inter-Medium';
    font-weight: 500;
    src: url('../../_fonts/Inter-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Inter-SemiBold';
    font-weight: 600;
    src: url('../../_fonts/Inter-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: 'Inter-Bold';
    font-weight: 700;
    src: url('../../_fonts/Inter-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Inter-ExtraBold';
    font-weight: 800;
    src: url('../../_fonts/Inter-ExtraBold.otf') format('opentype');
}

@font-face {
    font-family: 'Inter-Black';
    font-weight: 900;
    src: url('../../_fonts/Inter-Black.otf') format('opentype');
}

/* Aplicar las diferentes variantes de la fuente Inter */
/* body {
    font-family: 'Inter-Regular', sans-serif;
}

h1 {
    font-family: 'Inter-Bold', sans-serif;
}

h2 {
    font-family: 'Inter-SemiBold', sans-serif;
}

p {
    font-family: 'Inter-Light', sans-serif;
} */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-weight: 100;
}

h2 {
    font-weight: 100;
}

/*Eliminamos márgenes del "body" */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
	font-family: 'Inter-Light', sans-serif;
    background-color: #FFF; /* Fondo por defecto */
}

#big-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

a{ text-decoration: none; }


/* ====== H E A D E R ====== */

/* Header styling */
.main-header {
    background-color: var(--body-bg); /* Fondo usando variable */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: var(--space-md) var(--space-lg);
}

.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 95%;
    margin: 0 auto;
}

.logo-link {
    display: block;
    width: 140px;
    height: 60px;
    background-image: var(--main-logo); /* Usa el logo principal definido en root.css */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.main-nav {
    flex-grow: 1; /* Permite que la navegación ocupe el espacio disponible */
    display: flex;
    justify-content: center;
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: var(--space-lg);
    margin: 0;
    padding: 0;
}

.main-nav ul li { 
    margin: 0px .5vw;
}

.main-nav ul li a {
    font-family: var(--font-primary);
    font-size: 16px;
    color: var(--menu-text);
    transition: color 0.3s ease;
}

.main-nav ul li a:hover {
    color: var(--menu-hover);
    text-decoration: underline;
}

.auth-buttons {
    display: flex;
    gap: var(--space-md);
}

.auth-buttons a {
    padding: 0.5rem 1rem;
    font-family: var(--font-primary);
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn-login {
    color: var(--font-color-dark);
    border: 1px solid var(--font-color-dark);
    background-color: transparent;
    text-decoration: underline;
}

.btn-login:hover {
    background-color: var(--font-color-dark);
    color: var(--font-color-light);
}

.btn-register {
    background-color: var(--bg-btn);
    color: var(--color-white);
    border: 1px solid var(--bg-btn);
}

.btn-register:hover {
    background-color: var(--bg-btn-hover);
}


/* ====== H O M E ====== */

/* MAIN BANNER */

.main-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-xl) var(--space-lg);
    background: linear-gradient(135deg, #121740, #1b58b8); /* Degradado de fondo */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-image: url('../../_images/_home/bg_main_banner.svg');  /* Imagen de fondo */
    color: var(--font-color-light); /* Color de texto en blanco */
    position: relative;
    overflow: hidden;
    height: 80vh; /* Ajusta la altura según tus necesidades */
}

.main-banner-content {
    width: 40%;
    z-index: 1; /* Asegura que el contenido esté sobre el fondo */
    padding-left: 5%;
    /*border:#F00 solid thin;*/
    font-family: 'Inter-Light';
}

.main-banner-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--color-white);
}

.main-banner-content p {
    font-size: 1.125rem;
    margin-bottom: var(--space-lg);
    color: var(--color-white);
    margin-bottom: 20px;
}

.btn-register-banner {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-family: var(--font-primary);
    font-size: 1rem;
    color: var(--color-white);
    background-color: var(--bg-btn);
    border: none;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn-register-banner:hover {
    background-color: var(--bg-btn-hover);
}

/* Fondo decorativo en la esquina inferior izquierda */
.main-banner::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../_images/fondo-decorativo.svg'); /* Ruta del SVG decorativo */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
    opacity: 0.8; /* Para que no opaque el contenido */
    z-index: 0;
}

/* Imagen del dashboard */
.banner-image {
    width: 60%;
    height: auto;
    z-index: 1;
    /*border:#F00 solid thin;*/
}
.banner-image img {
    width: 80%;
    display: block;
    margin: auto;
    height: auto;
}

/* MAIN BANNER END */


/* SECTION SOLUTION */

.section_solution {
    display: flex;
    height: 100vh;
    max-height: 800px;
}

.section_solution > div {
box-sizing: border-box;
/*border: #F00 solid thin;*/
}

.section_solution_content {
    flex: 0 0 40%; /* Ocupa el 70% del ancho */ 
    position: relative;
}
.section_solution_gal {
    flex: 0 0 60%; /* Ocupa el 70% del ancho */
    position: relative;
}

.section_solution_content {
    background-color: var(--bg-sec-a);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em;
}

.section_solution_content h2 {
    font-size: 2em;
    font-family: var(--font-h1);
    margin-bottom: 30px;
    color: var(--font-p);
    margin-left: 10%;
}

.section_solution_content ul {
    list-style: none;
    margin-left: 10%;
}

.section_solution_content ul li {
    font-size: .9em;
    font-family: 'Inter-SemiBold';
    color: var(--font-p-alt);
    position: relative;
    cursor: pointer;
    margin-bottom: 15px;
    transition: color 0.3s ease;
}

.section_solution_content ul li .arrow {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.section_solution_content ul li:hover {
    color: var(--color-highlight);
}

.section_solution_content ul li:hover .arrow {
    opacity: 1;
}

.btn-solutions {
    display: inline-block;
    margin-top: 20px;
    padding: 5px 20px;
    background-color: var(--bg-btn);
    color: var(--color-white);
    margin-left: 10%;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    align-self: flex-start; /* Evita que el botón ocupe el ancho completo */
}

.btn-solutions:hover {
    background-color: var(--bg-btn-hover);
}

/* Columna Derecha: Galería de Imágenes */
.section_solution_gal {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.section_solution_gal .image {
    width: 25%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: width 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.section_solution_gal .suministro { background-image: url('../../_images/_home/suministro.jpg'); }
.section_solution_gal .infraestructura { background-image: url('../../_images/_home/infraestructura.jpg'); }
.section_solution_gal .descarbonizacion { background-image: url('../../_images/_home/descarbonizacion.jpg'); }
.section_solution_gal .transacciones { background-image: url('../../_images/_home/transacciones.jpg'); }

.section_solution_content ul li:hover ~ .section_solution_gal .image[data-hover="suministro"],
.section_solution_gal .image:hover[data-hover="suministro"] {
    width: 35%;
    transform: scale(1.05);
}

.section_solution_content ul li:hover ~ .section_solution_gal .image[data-hover="infraestructura"],
.section_solution_gal .image:hover[data-hover="infraestructura"] {
    width: 35%;
    transform: scale(1.05);
}

.section_solution_content ul li:hover ~ .section_solution_gal .image[data-hover="descarbonizacion"],
.section_solution_gal .image:hover[data-hover="descarbonizacion"] {
    width: 35%;
    transform: scale(1.05);
}

.section_solution_content ul li:hover ~ .section_solution_gal .image[data-hover="transacciones"],
.section_solution_gal .image:hover[data-hover="transacciones"] {
    width: 35%;
    transform: scale(1.05);
}

/* Reset other images to 20% width on hover */
.section_solution_gal .image:not(:hover):not([data-hover="suministro"]),
.section_solution_gal .image:not(:hover):not([data-hover="infraestructura"]),
.section_solution_gal .image:not(:hover):not([data-hover="descarbonizacion"]),
.section_solution_gal .image:not(:hover):not([data-hover="transacciones"]) {
    width: 25%;
}

/* SECTION SOLUTION END */

/* SECTION CUADRANTES */

.section_services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-lg);
    padding: var(--space-xl) var(--space-lg);
    background-color: var(--body-bg);
}

.service_card {
    background: #F3F7FF;
    border: #E9EEFB solid 2px;
    padding: var(--space-md);
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
}

.service_card h3 {
    font-family: var(--font-h2);
    font-size: 2em;
    color: var(--font-p);
    margin: 20px auto 25px auto;
}

.service_image {
    width:75%;
    height: 0;
    background-size: contain;
    border-radius: 8px;
    padding-top: 32%;
    box-shadow: 0 -20px 70px rgba(66, 70, 225, 0.15);
    background-repeat: no-repeat;
    background-position: center bottom;
}


/* Botón de información */
.service_card .btn-info {
    display: inline-block;
    padding: 0.5rem 2rem;
    font-family: var(--font-primary);
    font-size: 1rem;
    color: var(--color-white);
    background-color: var(--bg-btn);
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-bottom: 3.5rem;
}

    .service_card  .btn-info:hover {
        background-color: var(--bg-btn-hover);
    }

/* Imágenes de fondo de cada servicio */
.consumo_energia { background-image: url('../../_images/_home/consumidores.png'); }
.participantes_mem { background-image: url('../../_images/_home/participantes.png'); }
.infraestructura_energeticos { background-image: url('../../_images/_home/infraestructura_y_energeticos.png'); }
.descarbonizacion { background-image: url('../../_images/_home/Descarbonizacion.png'); }

/* SECTION CUADRANTES END */

/* SECTION CONECTIONS */

/* Sección de Conexiones */

/* Sección de Conexiones */

/* Sección de Conexiones */
.section_connections {
    display: flex;
    gap: var(--space-lg);
    padding: var(--space-xl) var(--space-lg);
    background-color: var(--bg-sec-a);
}

.connections_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

.connection_item {
    overflow: hidden;
    transition: transform 0.3s ease;
    margin-left: 30px;
}

.connection_card {

    border-radius: 8px;
    padding: var(--space-md);
    text-align: left;
    cursor: pointer;
    position: relative;
    height: 60px;
    width: 75%;
    transition: all 0.3s ease;
}

.connection_card h3 {
    font-family: var(--font-h2);
    font-size: 1.5rem;
    color: var(--color-highlight);
    margin-bottom: 0;
}

.connection_card .hidden_content {
    font-family: var(--font-primary);
    color: var(--font-p-alt);
    opacity: 0;
    transition: opacity 0.3s ease;
    max-height: 0; /* Altura colapsada */
    overflow: hidden;
    margin-top: var(--space-sm);
}

/* Efecto de Hover */
.connection_item:hover .connection_card {
    height: 140px; /* Altura expandida para mostrar el contenido adicional */
    background-color: #FFF;
}

.connection_item:hover .connection_card .hidden_content {
    max-height: 80px; /* Espacio para el contenido adicional */
    opacity: 1;
}

/* SECTION CONECTIONS END */